{% extends "serviceapp/base.html" %}
{% block title %}Update Under Service Record{% endblock %}

{% block content %}
<div class="container">
    <h2>Update Under Service Record</h2>

    <!-- Form to Update Under Service Record -->
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- This renders the form fields -->
        
        <button type="submit" class="btn btn-add">Update Progress</button>
    </form>

    <br>
    <a href="{% url 'under_service' %}" class="btn btn-add">Back to Under Service Records</a>
</div>
{% endblock %}
